<div class="container">
    <div class="row">
        <div class="col-md-6"><img src="images/test.jpg"></div>
        <div class="col-md-6">
            <h1>sampletext</h1>
            <p>samplet extsampletextsam pletextsampletextsamplete xtsampl etextsa mpletextsamplet
              exts amplet extsamp lete xtsam p letext sampl ete xtsamp letextsample text sam plet ext 
                sa mp l etext sa mp let exts amplete xtsample textsa mplet extsam ple text
            </p>
        </div>
    </div>
</div>


