<div class="container-fluid article-show">
  <div class="row">
    <% if current_user != @article.user %>
      <div class="col-md-2">
        <%= render partial: 'users/profile', locals: { user: @article.user} %>
      </div>
    <% end %>
    <div class="col-md-7">
      <div class="media">
        <div class="media-body">
          <div class="text-center">
            <p class="mt-3 title">論点</p>
          </div>
          <h5 class="bg-light p-3 rounded">
            <%= @article.title %>
          </h5>
          <div class="text-center">
            <p class="mt-3 title">考察</p>
          </div>
          <p class="bg-light p-3 rounded">
            <%= @article.text %>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <%= render partial: 'messages/message_page', locals: { article: @article, message: @message } %>
    </div>
  </div>
</div>