// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  position: relative;
  display: inline-block;
  padding: .8em 4em;
  background: #33CCFF;
  border: 0 solid ;
  border-radius: 15px;
  color:black;
  text-decoration: none;
  text-align: center;
}

.title::after {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  content: '';
  border: 2px dashed #fff;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
}

.article-show {
  background-color: #99FFCC;
  height: 100vh;
}

.nav-link {
  color: white;
}

.card-body {
  
  color: black;
}


.article-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 0.5em;
  color: black;
  margin: 0.8em 0px;
  padding: 0.8em 20px;
  border-radius: 15px;
}

