// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.title {
  padding: .8em 4em;
  background: #33CCFF;
  border: 0 solid ;
  border-radius: 15px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  margin-top: 10px;
}
 
.article-show {
  background-color: #99FFCC;
  height: 100vh;
}

.nav-link {
  color: white;

}

.card-body {
  font-family: "游ゴシック", "YuGothic";
  color: black;
}

.card {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);

}


.article-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 0.5em;
  color: black;
  margin: 0.8em 0px;
  padding: 0.8em 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

.img-fluid {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);

}

div.media-body h5 {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}


div.media-body p {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);

}
