// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.title {
  padding: .8em 4em;
  background: #33CCFF;
  border: 0 solid ;
  border-radius: 15px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  margin-top: 10px;
}

 
.article-show {
  background-image: image-url("light_veneer.png");
  height: 100vh;
}

.row.article-contents {
  background-image: image-url("light_veneer.png");
  padding-bottom: 30px;
}

.article-img {
  height: 150px;
  width: 150px;
}

.nav-link {
  color: white;

}

.card-body {
  font-family: "游ゴシック", "YuGothic";
  color: black;
}

.card {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);

}


.article-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 0.5em;
  color: black;
  margin: 0.8em 0px;
  padding: 0.8em 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

.img-fluid {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);

}

div.media-body h5 {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}


div.media-body p {
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);

}

h4 {
  position: relative;
   margin-top: 2em;
   padding: 1.5rem 2rem;
   border-radius: 20px;
   background: #eee;
   text-shadow: 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 10px rgba(0, 0, 0, .2);
   font-family: "游ゴシック", "YuGothic";
   box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
 }
 
 h4:before,
 h4:after {
   position: absolute;
   content: '';
   border-radius: 50%;
   background: #eee;
 }
 
 h4:before {
   right: 30px;
   top: -15px;
   width: 30px;
   height: 30px;
 }
 
 h4:after {
   right: 50px;
   top: -30px;
   width: 15px;
   height: 15px;
 }
 
 .jumbotron {
  font-family: "游ゴシック", "YuGothic";
  background-image: image-url("top_law7.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 1px 0 rgb(58, 21, 21), 0 3px 0 rgb(68, 20, 20), 0 4px 10px rgba(0, 0, 0, .2);
 }

 .article-contents h2 {
  position: relative;
  padding: 1.5rem 1rem;
}

.article-contents h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}