.title {
  position: relative;
  display: inline-block;
  padding: .8em 4em;
  background: #33CCFF;
  border: 0 solid ;
  border-radius: 15px;
  color:black;
  text-decoration: none;
  text-align: center;
}

.title::after {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  content: '';
  border: 2px dashed #fff;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
}

.article-show {
  background-color: #99FFCC;
}
