.wrapper {
  display: flex;
}



.a{
  font-size: 10px;
  color: #FAFAFA;
  text-decoration: none;
}


.chat {
  background-color:black;
  width: 100%;
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

.chat-header {
  height: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #99CCFF;
  border-radius: 5px; 
}




.header-button a {
  text-decoration: none;
  border: 1px solid white;
  color: darkred;
  background-color: #99CCFF;
  border-radius: 5px; 

}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 5px;
  overflow: scroll;
  border-radius: 20px; 
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}


.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 5px 5px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
  border-radius: 15px;
}

.form-message {
  border: none;
  height: 100%;
  width: 100%;
  
}


.form-submit {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  padding: 10px;
  background: linear-gradient(135deg, #ffd900, #ff9300);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}
.form-submit:hover {
  opacity: 0.7;
}
.form-submit:active, .flat.fade:focus {
  top: 2px;
}

.form-submit {
  font-size: 16px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}