.wrapper {
  display: flex;
}



.a{
  font-size: 10px;
  color: #FAFAFA;
  text-decoration: none;
}


.chat {
  background-color:black;
  width: 100%;
  border-radius: 20px; 
}

.chat-header {
  height: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #99CCFF;
  border-radius: 5px; 
}




.header-button a {
  text-decoration: none;
  border: 1px solid white;
  color: darkred;
  background-color: #99CCFF;
  border-radius: 5px; 

}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 5px;
  overflow: scroll;
  border-radius: 20px; 
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}


.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 5px 5px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 100%;
  width: 100%;
  
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 100%;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}